.container{
    border-bottom: 1px solid rgb(121, 121, 121);
}
.navgitonbar{ 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
    position: relative;

}
.logo .navbar-link{
    color: rgb(0, 0, 0);
}
.navgitonbar ul{
    color: rgb(39, 40, 41);

}
.navgitonbar ul .navbar-link{
    color: rgb(112, 111, 111);
    padding: 10px 20px;

}
.navgitonbar ul .navbar-link:hover{
    border-bottom: 1.5px solid rgb(217,111,47);
    color: rgb(0,0,0);
}
.navgitonbar .cart {
    display: flex;
    align-items: center;
}
.navgitonbar .cart img{
    width: 40px;    
    margin-left: 30px;
    border-radius: 50%;
    border: 2px solid  rgb(217,111,47);
}
.navgitonbar .cart i{
    font-size: 20px;
    cursor: pointer;
}
.list-item{
    display: none;
}
/*media Querise*/
/*smil screen*/
@media (max-width: 768px) {

    .list-item{
        display:inline;
    }
    .nav-link-list{
        display: flex;
        flex-direction: column;
        position: fixed;
        justify-content:right;
        height: 100vh;
        width: 40%;
        left: -350px;
        top: 68px;
        background-color: #fff;
        box-shadow: 0 0 7px 0 rgba(0,0,0,0.5);
        transition: all 0.8s ease;
        z-index: 999;
    }
    
}   
/*smil screen*/