body{
  margin: 0;
  padding: 0; 
  background-color:#fff;
}
html{
  scroll-behavior: smooth;
}
section , footer , header{
  width: 100%;
  height: auto;
  overflow: hidden;
  max-width: 100%;
}

a{
  text-decoration: none !important;
}
span{
  display: block;
}
ul{
  margin: 0;
  padding: 0;
}
li{
  list-style-type:none ;
}
button{
  text-align: center;
  box-sizing: border-box;
  height: 40px;
  border-radius: 4px;
  border: none;
}
P{
  line-height: 28PX;
}